<form class="form" action="/user/new" method="POST">
  <p><input type="text" placeholder="email" name="email"></p>
  <p><input type="password" placeholder="New Password" name="password"></p>
  <p><input type="password" placeholder="New Password Confirmation" name="password_confirmation"></p>
  <p><input type="submit" value="Save Changes" class="button"></p>
</form>

