<h1 style="text-align:center;"> Title Here </h1>
  <div class="nav_container">
    <nav>
    <a class="home_link" href="/"> Home </a> | 
    <a href="/"> link </a> |
  <% if current_user? %>  
    <span> <%= current_user.email %> &nbsp | <a href="../../../user/signout"> Signout </a> </span> 
  <% else %>
    <a href="user/signin">Sign In</a>
  <% end %>

   </nav>
 </div>